# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Tria Delta/Solidworks/Reference Parts/Nema17 Steppers/~$40MM_NEMA17.SLDASM
Tria Delta/Solidworks/Reference Parts/Nema17 Steppers/~$Body1.SLDPRT
Tria Delta/Solidworks/Reference Parts/Nema17 Steppers/~$Shaft1.SLDPRT
Tria Delta/Solidworks/Reference Parts/OpenBuilds Solidworks Library/10 - Shims and Spacers/~$Aluminum Spacer.SLDPRT
Tria Delta/Solidworks/Reference Parts/OpenBuilds Solidworks Library/3 - Bearings/~$Ball Bearing 5 x 16 x 5.SLDPRT
Tria Delta/Solidworks/Reference Parts/OpenBuilds Solidworks Library/Assemblies/Wheels/~$Solid V Wheel Eccentric.SLDASM
Tria Delta/Solidworks/Reference Parts/OpenBuilds Solidworks Library/Assemblies/~$M4_Low_Profile_Screw_with_T_nut.SLDASM
Tria Delta/Solidworks/Reference Parts/Nema17 Steppers/~$Base.SLDPRT
Tria Delta/Solidworks/Reference Parts/OpenBuilds Solidworks Library/2 - Wheels/~$Solid V Wheel.SLDPRT
Tria Delta/Solidworks/Reference Parts/OpenBuilds Solidworks Library/Assemblies/Wheels/~$Solid V Wheel.SLDASM
Tria Delta/Solidworks/Reference Parts/OpenBuilds Solidworks Library/10 - Shims and Spacers/~$Aluminum Spacer 6mm.SLDPRT
Tria Delta/Solidworks/Reference Parts/OpenBuilds Solidworks Library/9 - Screws/~$Low Profile Screw M5.SLDPRT
Tria Delta/Solidworks/Reference Parts/OpenBuilds Solidworks Library/7 - Hardware/~$Nylon Insert Lock Nut M5.SLDPRT
Tria Delta/Solidworks/~$Heated Bed.SLDASM
Tria Delta/Solidworks/Reference Parts/OpenBuilds Solidworks Library/9 - Screws/~$Low Profile Screw M4.SLDPRT
Tria Delta/Solidworks/Reference Parts/Nema17 Steppers/~$FaceCap.SLDPRT
Tria Delta/Solidworks/Reference Parts/OpenBuilds Solidworks Library/7 - Hardware/~$Tee Nut M4.SLDPRT
Tria Delta/Solidworks/Reference Parts/OpenBuilds Solidworks Library/10 - Shims and Spacers/~$Precision Shim 10 x 5 x 1.SLDPRT
Tria Delta/Solidworks/~$Carriage.SLDPRT
